{% extends 'base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <header>
        {{ knp_menu_render('main') }}
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
            <span class="navbar-brand mb-0 mx-2 h1">My Travel</span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home_index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_hotel_index') }}">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_attraction_index') }}">Attractions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_room_index') }}">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_event_index') }}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_location_index') }}">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_support_index') }}">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_about_index') }}">About</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a class="nav-link"><span>Welcome!</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}"><span
                                            class="glyphicon glyphicon-user"></span>
                                    Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}"><span
                                            class="glyphicon glyphicon-user"></span>
                                    Register</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_login') }}"><span
                                            class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <h1>{{ 'app.hotel.edit'|trans }}</h1>

    {{ include('hotel/_form.html.twig', {'button_label': 'app.hotel.update'|trans}) }}

    <a class="btn btn-primary" href="{{ path('app_hotel_index') }}">{{ 'app.hotel.back'|trans }}</a>

    {{ include('hotel/_delete_form.html.twig') }}

    <footer class="text-center text-lg-start bg-light text-muted">

        <section class="border-bottom">
        </section>

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>My Travel
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Privacy Policy</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">About</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Support</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://mytravel.com/">MyTravel.com</a>
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}
